.smart-form .input input, .smart-form .select select, .smart-form .textarea textarea{
	padding:1px 8px !important;
}
input[type="text"]:disabled
{
	background:#EEEEEE !important;
}
input[type="number"]:disabled
{
	background:#EEEEEE !important;
}
select:disabled
{
	background:#EEEEEE !important;
}
select:focus,textarea:focus,input:focus{
	border:2px solid #2483D8 !important;
}
.select-row:hover{
	background-color: #448fbd;
	color:white;
	cursor: pointer;
}
.formulario-contenedor{
	display: block;
	margin: 10px;
	padding: 10px;
}
.label{
	font-weight: bold !important;
}
#cargar-tabla{	
	display: none;
	height: 100px;
	width: 100%;	
}
.cargando{
	width: 150px;
	font-size: 2em;
	margin: 0 auto;
	padding-top: 20px;
	height: 60px;	
	color: rgba(0, 0, 0, 0.35);
}
.titulo_pagina{
	width: 50%;
	min-width: 400px;
	float: left;
	height: 40px;
	padding-left: 13px;
}
.table_sub_header{
	width:100%;
	padding:10px 0px 15px 0px;		
}
.table_sub_header_group_left{	
	display: inline-block;		
	padding: 2px 0px;
}
.table_sub_header_group_rigth{
	display: inline-block;		
	text-align: right;	
	float: right;
	padding: 5px 4px;
}
.input_search{
	width: 450px;
	height: 31px;
	display: inline-block;
	padding-left: 10px;
	margin: 0px -3px 0px 0px;
}
.cuadro_emergente{
	display: none;
}
.btn_buscar{	
	border-bottom-left-radius:0;
	border-top-left-radius:0;
	border-top-right-radius:2px;
	border-bottom-right-radius: 2px;
	border-color:#4D7FAD;
	background-color: #427fed;	
	font-size:13px;
	height: 31px;
	padding:4px 9px;
	line-height:1.39;
	display: inline-block;
	cursor:pointer;	
	margin:5px 0px 0px 0px;
	color:rgb(255, 255, 255);
	text-shadow:rgba(0, 0, 0, 0.247059) 0px -1px 0px;
	border:1px solid transparent;
	-webkit-appearance:button;	
	width: 100px;
}
.btn_buscar:hover{
	background-color: #4F90CC;
	color: white;
	text-decoration: none;
}
.btn_otro_ref{
	border-radius: 2px;
	border-color:#4D7FAD;
	background-color:#427fed ;	
	font-size:13px;	
	padding:4px 9px;	
	display: inline-block;	
	cursor:pointer;	
	margin:5px 0px 0px 0px;
	color:rgb(255, 255, 255);
	text-shadow:rgba(0, 0, 0, 0.247059) 0px -1px 0px;
	border:1px solid transparent;		
	width: 120px;
	text-align: center;
	text-decoration: none;
}
.btn_otro_ref:hover{
	background-color: #4F90CC;	
	color: white;
	text-decoration: none;
}
.input_reg{
	width: 200px;
}
.area_reg{
	width: 420px;
}
.error_validacion{
	background-color:rgb(182, 76, 76);
	padding-left: 10px !important;
	color: white;
	display: block;	  	
	z-index: 100;  	  	  	  	
	font-size: 0.9em;  	  
	-webkit-animation-duration:0.6s;    
	-webkit-animation-name:error;	
	-moz-animation-duration:0.6s;    
	-moz-animation-name:error;
}
@-webkit-keyframes error{
	0%{
		opacity: 0;        
	}
	100%{
		opacity: 1;                      
	}
}
@-moz-keyframes error{
	0%{
		opacity: 0;        
	}
	100%{
		opacity: 1;                    
	}
}
.titulo2{
	font-weight: normal;	
	margin-right: 10px;
}

.red:hover{
	cursor: pointer;
}
#ventana_emergente {
	width: 360px;  /* Ancho de la ventana */
	height: 90px;  /* Alto de la ventana */
	background: #ceffad;  /* Color de fondo */
	position: fixed;
	top: 100px;
	left: 50%;
	margin-left: -180px;
	border: 1px solid #adffad;  /* Borde de la ventana */
	box-shadow: 0 5px 25px rgba(0,0,0,.1);  /* Sombra */
	z-index:999;
	display: none;
}
#ventana_emergente #contenedor {
	padding: 25px 10px 10px 10px;
}
#ventana_emergente .cerrar {
	float: right;
	border-bottom: 1px solid #bbb;
	border-left: 1px solid #bbb;
	color: #999;
	background: white;
	line-height: 17px;
	text-decoration: none;
	padding: 0px 14px;
	font-family: Arial;
	border-radius: 0 0 0 5px;
	box-shadow: -1px 1px white;
	font-size: 18px;
	-webkit-transition: .3s;
	-moz-transition: .3s;
	-o-transition: .3s;
	-ms-transition: .3s;
}
#ventana_emergente .cerrar:hover {
	background: #ff6868;
	color: white;
	text-decoration: none;
	text-shadow: -1px -1px red;
	border-bottom: 1px solid red;
	border-left: 1px solid red;
	cursor: pointer;
}
#ventana_emergente #contenedor .contenido {
	padding: 15px;
	box-shadow: inset 1px 1px white;
	background: #deffc4;  /* Fondo del mensaje */
	border: 1px solid #9eff9e;  /* Borde del mensaje */
	font-size: 20px;  /* Tamaño del texto del mensaje */
	color: #555;  /* Color del texto del mensaje */
	text-shadow: 1px 1px white;
	margin: 0 auto;
	border-radius: 4px;
}
.oculto {-webkit-transition:1s;-moz-transition:1s;-o-transition:1s;-ms-transition:1s;opacity:0;-ms-opacity:0;-moz-opacity:0;display:none;}

/* Reemplazando estilos

*/
.tooltip-inner{
	border-radius: 4px;
}